

.top-pad10 {
  padding-top: 10px
}
.top-pad20 {
  padding-top: 20px
}
.top-pad30 {
  padding-top: 30px
}
.top-pad40 {
  padding-top: 40px
}

.top-pad10 {
  padding-top: 10px
}
.left-pad20 {
  padding-left: 20px
}
.left-pad30 {
  padding-left: 30px
}
.left-pad40 {
  padding-left: 30px
}


.right-pad10 {
  padding-right: 10px;
}
.right-pad20 {
  padding-right: 20px;
}
.right-pad30 {
  padding-right: 30px;
}
.right-pad40{
  padding-right: 40px;
}


.date-size {
  font-size: 16px;
}

.width-60percent {
  width: 60%;
}

.center-image {
    display:block;
    margin:auto;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
  flex: 1 0 auto;
}

header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

/*div {
  outline: red 1px solid;
}*/
