<nav class="teal darken-3">
    <div class="nav-wrapper flow-text">
        <div class="container">
            <a ng-href="{{home}}" class="brand-logo white-text">Home</a>
        </div>
        <div id="nav-menu">
            <a data-activates="nav-mobile" class="button-collapse left-pad20">
                <i class="material-icons">menu</i>
            </a>
        </div>

        <ul class="right hide-on-med-and-down right-pad30">

            <li ng-repeat="navTab in navTabs | filter:true">
                <a href="#">
                    <strong>
                        {{navTab.name}}
                    </strong>
                </a>
            </li>
            <li>
                <div>
                    <a class="dropdown-button" data-activates="aboutDropDown">
                        <strong>
                            Account
                            <i class="material-icons right">arrow_drop_down</i>
                        </strong>
                    </a>
                </div>
            </li>

        </ul>
    </div>
</nav>


<!-- Dropdown Structure -->
<ul id="aboutDropDown" class="dropdown-content" ng-controller="navController">
    <li ng-repeat="tab in accountTabs">
        <a href="#" ng-click="setTabState(tab.name)">
            <strong>{{tab.name}}</strong>
        </a>
    </li>

</ul>

<script type="text/javascript-lazy">
  $(".button-collapse").sideNav();
</script>
