<div class="top-pad30 right-pad40 left-pad40 hide-on-large-only">
    <div>
        <img class="responsive-img center-image circle" ng-src="{{person.image}}" alt="{{person.firstName}}"/>
        <h4 class="hide-on-large-only center">{{person.firstName + ' ' + person.lastName}}</h4>
    </div>
</div>

<div ng-hide="state != 'Resume'">
    <h4>Current employment</h4>
    <div class="row right-pad20 left-pad20">
        <div class="col s12" ng-repeat="current in person.resume.currentEmp">
            <div class="card horizontal hoverable ">
                <div class="card-stacked">
                    <div class="card-content">
                        <h5 class="truncate">{{current.name}}
                            <span class="right right-pad10 date-size">
                                <em>{{current.startMonth + ' ' + current.startYear}}</em>
                            </span>
                        </h5>
                        <div class="left-pad20">
                            <b>{{current.role}}</b><br>
                            <em class="left-pad20" ng-repeat="resp in current.resps">{{resp}}<br></em>
                        </div>
                    </div>
                    <div class="card-action">
                        <a ng-href="{{current.website}}">Website</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4>Education</h4>
    <div class="row right-pad20 left-pad20">
        <div class="col s12" ng-repeat="school in person.resume.education">
            <div class="card horizontal hoverable">
                <div class="card-stacked">
                    <div class="card-content">
                        <h5 class="truncate">{{school.name}}
                            <span class="right right-pad10 date-size">
                                <em>{{school.completion}}</em>
                            </span>
                        </h5>
                        <div class="left-pad20">
                            <b>{{school.degree}}</b><br>
                            <em class="truncate">{{school.city + ', ' + school.state}}</em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4>Past Employment</h4>
    <div class="row right-pad20 left-pad20">
        <div class="col s12" ng-repeat="past in person.resume.pastEmp">
            <div class="card horizontal hoverable">
                <div class="card-stacked">
                    <div class="card-content">
                        <h5 class="truncate">{{past.name}}
                            <span class="right right-pad10 date-size">
                                <em>{{past.startMonth + ' ' + past.startYear}}</em>
                            </span>
                        </h5>
                        <div class="left-pad20">
                            <b>{{past.role}}</b><br>
                            <em class="left-pad20" ng-repeat="resp in past.resps">{{resp}}<br></em>
                        </div>
                    </div>
                    <div class="card-action">
                        <a ng-href="{{past.website}}">Website</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4>Community Experience</h4>
    <div class="row right-pad20 left-pad20">
        <div class="col s12" ng-repeat="comm in person.resume.community">
            <div class="card horizontal hoverable">
                <div class="card-stacked">
                    <div class="card-content">
                        <h5 class="truncate">{{comm.name}}
                            <span class="right right-pad10 date-size">
                                <em>{{comm.startYear + ' - ' + comm.endYear}}</em>
                            </span>
                        </h5>
                        <div class="left-pad20">
                            <b>{{comm.role}}</b><br>
                            <em class="left-pad20" ng-repeat="resp in comm.resps">{{resp}}<br></em>
                        </div>
                    </div>
                    <div class="card-action">
                        <a ng-href="{{comm.website}}">Website</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-hide="state != 'Bio'">
    <h4>About me</h4>
    <div class="row">
        <div class="col s12">
            <div class="card horizontal hoverable">
                <div class="card-stacked">
                    <div class="card-content">
                        <p>
                            {{person.bio.text}}
                        </p>
                    </div>
                    <div class="card-action">
                        <a ng-href="{{person.bio.website}}">Personal Site</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-hide="state != 'Projects'">
    <h5 class="center hide-on-large-only">{{state}}</h5>
    <div class="row">
        <div class="col s12 m4" ng-repeat="project in person.projects">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" ng-src="{{project.image}}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{project.name}}
                        <i class="material-icons right">more_vert</i>
                    </span>
                    <p>
                        <a ng-href="{{project.website}}">Website</a>
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{project.name}}
                        <i class="material-icons right">close</i>
                    </span>
                    <p>{{project.text}}</p>
                </div>
            </div>
        </div>
    </div>

</div>
<div ng-hide="state != 'Teams'">
    <h5 class="center hide-on-large-only">{{state}}</h5>
    <div class="row">
        <div class="col s12 m4" ng-repeat="team in person.teams">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" ng-src="{{team.image}}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{team.name}}
                        <i class="material-icons right">more_vert</i>
                    </span>
                    <p>
                        <a ng-href="{{team.website}}">Website</a>
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{team.name}}
                        <i class="material-icons right">close</i>
                    </span>
                    <p>{{team.text}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-hide="state != 'Events'">
    <h5 class="center hide-on-large-only">{{state}}</h5>

    <div class="row">
        <div class="col s12 m4" ng-repeat="event in person.events">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" ng-src="{{event.image}}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{event.name}}
                        <i class="material-icons right">more_vert</i>
                    </span>
                    <p>
                        <a ng-href="{{event.website}}">Website</a>
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{event.name}}
                        <i class="material-icons right">close</i>
                    </span>
                    <p>{{event.text}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
